<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- POST 데이터 한글 인코딩 (UTF-8) 필터 -->
	<filter>
		<filter-name>encodingFilter</filter-name> <!-- 필터 이름짓기 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param><!-- CharacterEncodingFilter 가 생성될때 생성자에 매개변수 값 넣어주는 아이 (encoding UTF-8) --> 
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param> 
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name> <!-- 위에서 지정한 필터 이름 -->
		<url-pattern>/*</url-pattern> <!-- 모든 URL -->
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>